.background {
    display: grid;
    grid-template-rows: 1fr 9fr;
    height: 100vh;
    margin: 0;
}

.cabecalho {
    display: grid;
    grid-template-columns: 2fr 4fr 4fr;
    background-color: black;
    grid-row: 1;
}

.icone {
    grid-column: 1;
    height: 110px;
    width: 110px;
    justify-self: start;
    align-self: center;
    margin-left: 25px;
}

.nome {
    color: white;
    grid-column: 2;
    justify-self: start;
    align-self: center;
    font-size: 50px;
    margin: 0;

    font-family: "Major Mono Display", monospace;
    font-weight: 400;
    font-style: normal;
}

.icone:hover {
    animation: icone 3s linear infinite;
}

@keyframes icone {
    50% {
        transform: rotate3d(0, 1, 0, 180deg);
    }
}

.botoes {
    grid-column: 3;
    justify-self: end;
    align-self: self-end;
}

.interacoes {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 120px;
    font-size: 100%;
    margin: 0;
    color: white;
    background-color: black;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 6px solid transparent;
    font-family: Arial, Helvetica, sans-serif;
}

.interacoes:hover {
    border-bottom: 5px solid white;
    transition: 0.5s;
}

.ativo {
    border-bottom: 5px solid white;
}

.corpo{
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: auto auto auto 1fr;
}

.produto-inicial {
    width: 600px;
    grid-column: 1 / 5;
    grid-row: 1 / 10;

}

.titulo-produto {
    grid-column: 5 / 10;
    grid-row: 1;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 50px;
}

.botao-produto{
    border-radius: 50px;
    width: 200px;
    height: 50px;

    border: none;

    color: white;
    background-color: black;
    font-size: 100%;
    margin: 5px;
}

.botao-produto:hover{
    transition: 0.5s;
    color: black;
    background-color: white;
    border: 3px solid black;
    box-shadow: 5px 5px 10px gray;

}

.saiba-mais{
    grid-row: 3;
    grid-column: 5;
    margin-left: 0px;
    align-self: start;
}

.comprar{
    grid-row: 3;
    grid-column: 6;
}

.descricao-produto{
    grid-column: 5 / 8;
    grid-row: 2;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    align-self: start;
}

.slide-conteudo {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.slide-texto {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
}

.slide-texto .botao-produto {
    display: inline-block;
    margin-right: 10px;
}

.carousel-indicators [data-bs-target] {
    background-color: black;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(1);
}